{% extends 'blog/base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <div class="alert alert-light">
        <h1>{{ object.title }}</h1>
        <p>{{ object.text|safe }}</p>

        <div class="author-box">
            <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="user_images">
            <div class="mt-2">
                <span class="text-muted">Közzététel: {{ object.date|date:" Y F j, \\I\\dő: H:i" }}</span>
                <p><b>Szerző:</b> <mark>{{ object.author }}</mark></p>
            </div>
        </div>
      {% if object.author == user %}
        <hr>
        <a href="{% url 'news-update' object.id %}" class="btn btn-outline-info">Cikk frissítése</a>
        <a href="{% url 'news-delete' object.id %}" class="btn btn-outline-danger">Cikk törlése</a>
      {%  endif  %}
    </div>
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Érdekes cikkek</h4>
                    <img src="https://cdn2.iconfinder.com/data/icons/basic-flat-icon-set/128/wallet-512.png" class="img-thumbnail">
                <p>Ha valami nagy dolgot szeretnél vásárolni halaszd el egy hónappal későbbre, ha még akkor is úgy gondolod meg kell venned csak akor vedd meg.</p>
           
                <a href="https://www.motibooks.hu/" target="_blank">
                    <button class="btn btn-warning">Tudj meg többet</button>
                </a>  
                
                 <img src="https://www.investopedia.com/thmb/aqxryEXDlWznpQaij72CpAkxqZk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1030831244-4279d87f1272423288e24a9ed9925c80.jpg" class="img-thumbnail  mt-4">
                <p>A gazdagság nem csak abban rejlik mennyi pénz keresünk. Hanem inkább abban mennyire bánunk vele jól amit megkerestünk.</p>
           
                <a href="https://www.motibooks.hu/" target="_blank">
                    <button class="btn btn-warning">Tudj meg többet</button>
                </a>

{% endblock %}